* {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

nav .navbar-brand {
	font-weight: 600;
	font-size: 20px;
}

nav button {
	color: white;
}

#text-title {
	font-weight: 600;
}

#project1 img,
#project2 img,
#project3 img {
	height: 200px;
	border: 1px solid gray;
}

#socials a {
	color: white;
}

#contact-section {
	background: #003363;
}

#contact-image {
	background: 

		linear-gradient(

			rgba(0, 34, 65, 0.61),
			rgba(0, 34, 65, 0.61)

		),
		url("https://tse4.mm.bing.net/th?id=OIP.YY-MkL78tuJbGternOAMXAHaJQ&pid=Api&P=0&h=180");
		background-repeat: no-repeat;
		background-size: cover;
}

#contact-header {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 32px;
	/* identical to box height, or 100% */


	color: #12C6FF;

}

#contact-text {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	/* or 125% */


	color: #FFFFFF;
}

#contact form label {

	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;

	color: #FFFFFF;

}

#contact form input {

	background: #FFFFFF;
	border: 1px solid #12C6FF;
	border-radius: 0 !important;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;

	color: #003363 !important;


}

#contact form textarea {

	background: #FFFFFF;
	border: 1px solid #12C6FF !important;
	border-radius: 0 !important;

	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;

	color: #003363 !important;
}

#form-btn {
	padding: 8px 24px;
	gap: 8px;
	background: #12C6FF;
	border-radius: 2px;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;

	text-align: center;

	color: #FFFFFF;
}

#social-header {

	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;

	text-align: center;
	color: #FFFFFF;

}